/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

    /*light blue #A9D5F0
      ice blue #009BDF
      dark blue #0080AF
      navy #0C2C35
    */
   

* {
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  color: #0C2C35;
}

h1, h1, h3, h4, h5 {
  font-family: honeymoonregular;
}

h3 {
  padding-top: 10%;
}


   header {
    height: 100vh;
    width: 100vw;
    background-color: #A9D5F0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);

    position: fixed;
    z-index: 1;
   }

   header img {
    grid-column: 1;
    grid-row: 1;
    width: 70vw;
    /*transform: rotate(90deg);*/
    align-self: start;
    justify-self: center;
   }

   header p {
     grid-column: 1;
      grid-row: 2;
   }

    .button {
      grid-column: 1;
      grid-row: 2;
      display:inline-block;
      text-align:center;
      text-decoration: none;
      padding: 1em 3em;
      background-color: #0C2C35;
      color: white;
      border-radius: 2em;
      align-self: center;
      justify-self: center;
      margin-bottom: 10%;
    }

   .main {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

     position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      align-items: center;
      justify-items: center;
      background-color: #009BDF;
      
      transition: transform .4s;
   }

   .location {
    grid-column: 2 / span 2;
    grid-row: 1;
    font-size: 1em;
    align-self: end;
    margin-bottom: -5%;
}

  .location h3 {
    font-size: 2rem;
  }


.slide {
  transform: translateY(0);
}

   .day01 {
    grid-column: 2 / span 2;
    grid-row: 2;
   }

   .day01 h1 {
    font-size: 10em;
    align-self: stretch;
    padding: 0;
    margin: 0;
    font-family: fagocoblackcaps;
   }

   .day01 p {
    grid-column: 3;
    grid-row: 2;
   }



     .one {
      grid-column: 1;
      grid-row: 3;
     }
     .one p {
          font-family: fagocoblackcaps;
        }

     .two {
      grid-column: 2;
      grid-row: 3;
     }
     .two p {
          font-family: fagocoblackcaps;
        }

     .three {
      grid-column: 3;
      grid-row: 3;
     }
     .three p {
          font-family: fagocoblackcaps;
        }

     .four {
      grid-column: 4;
      grid-row: 3;
     }
     .four p {
          font-family: fagocoblackcaps;
        }



     .quotep {
      grid-column: 1 / span 2;
      grid-row: 4;
      height: 150px
      width: 150px;
      padding: 50%;
     }

     .quoteh {
      grid-column: 3 / span 2;
      grid-row: 4;
      height: 100%
      width: 100%;

     }



   .days {
    background-color: #d9d9d9;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;

      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      align-items: center;
      justify-items: center;
      background-color: white;

      transform: translateY(90%);
      transition: transform .4s;

   }

      .day02 h1 {
        font-size: 2em;
        margin-top: -1%;
      }

      .day02 h3 {
        font-size: 12em;
        line-height: 30%;
      }

      .day02 {
         grid-column: 1 / span 6;
        grid-row: 1;
        justify-self: center;
        align-self: start;
      }

  /*light blue #A9D5F0
      ice blue #009BDF
      dark blue #0080AF
      navy #0C2C35
    */

      .day03 {
        grid-column: 1 / span 2;
        grid-row: 4;
        align-self: start;
        background-color: #A9D5F0;
        align-self: stretch;
        justify-self: stretch;
       } 
        .day03 p {
          font-family: fagocoblackcaps;
        }
        .day03 h4 {
          font-size: .75rem;
          padding: 5%;
        }
    

      .day04 {
        grid-column: 3 / span 2;
        grid-row: 4;
        align-self: start;
        background-color: #009BDF;
        align-self: stretch;
        justify-self: stretch;
      }
      .day04 p {
          font-family: fagocoblackcaps;
        }
      .day04 h4 {
          font-size: .75rem;
          padding: 5%;
        }

      .day05 {
        grid-column: 5 / span 2;
        grid-row: 4;
        align-self: start;
        background-color: #0080AF;
        align-self: stretch;
        justify-self: stretch;
      }
      .day05 p {
          font-family: fagocoblackcaps;
        }
      .day05 h4 {
          font-size: .75rem;
          padding: 5%;
        }

      .day06 {
        grid-column: 1 / span 2;
        grid-row: 5;
        align-self: start;
        background-color: #0080AF;
        align-self: stretch;
        justify-self: stretch;
      }
      .day06 p {
          font-family: fagocoblackcaps;
        }
      .day06 h4 {
          font-size: .75rem;
          padding: 5%;
        }

      .day07 {
        grid-column: 3 / span 2;
        grid-row: 5;
        align-self: start;
        background-color: #efefef;
        align-self: stretch;
        justify-self: stretch;
      }
      .day07 p {
          font-family: fagocoblackcaps;
        }
      .day07 h4 {
          font-size: .75rem;
          padding: 5%;
        }

      .day08 {
        grid-column: 5 / span 2;
        grid-row: 5;
        align-self: start;
        background-color: #A9D5F0;
        align-self: stretch;
        justify-self: stretch;
      }
      .day08 p {
          font-family: fagocoblackcaps;
        }
      .day08 h4 {
          font-size: .75rem;
          padding: 5%;
        }



   .info {
    font-family: 'Poppins', sans-serif;
   }









 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


